/* Colors */
$background-color-main: #16161A;
$background-color-secondary: #242629;
$content-color-main: #FFFFFE;
$content-color-secondary: #94A1B2;
$color-main: rgb(127, 90, 240);
$color-secondary: rgb(44, 182, 125);
$dark-color-main: #2E2157;