@charset "UTF-8";
/* Imports */ /* Colors */
.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 96px;
  padding: 0 1rem;
  z-index: 1000;
}
.navbar__logo {
  width: fit-content;
  height: fit-content;
}
.navbar__logo img {
  width: 40px;
}
.navbar__links {
  overflow: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 0;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: #242629;
  transition: all 0.5s ease-in-out;
  transform: translateX(100%);
  filter: none;
}
.navbar__links__link a {
  display: block;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  transition: all 0.1s ease-in;
  white-space: nowrap;
}
.navbar__links__link a:hover {
  background-color: rgb(127, 90, 240);
}
.navbar__links a:last-child {
  white-space: nowrap;
}
.navbar--active .navbar__links {
  width: 75vw;
  transform: translateX(0);
  backdrop-filter: blur(5px);
}
.navbar__burger {
  position: relative;
  width: 45px;
  height: 45px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.navbar__burger__bar {
  display: block;
  width: 45px;
  height: 3px;
  background-color: #FFFFFE;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.navbar--active .navbar__burger__bar {
  width: 0;
}
.navbar__burger__bar::before, .navbar__burger__bar::after {
  content: "";
  display: block;
  width: 45px;
  height: 3px;
  position: absolute;
  background-color: #FFFFFE;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.navbar__burger__bar::before {
  transform: translateY(-12px);
}
.navbar__burger__bar::after {
  transform: translateY(12px);
}
.navbar--active .navbar__burger__bar::before {
  transform: rotate(45deg);
}
.navbar--active .navbar__burger__bar::after {
  transform: rotate(-45deg);
}

.blur main {
  filter: blur(5px) brightness(0.7);
}

@media screen and (min-width: 767.98px) {
  .navbar {
    padding: 0 3rem;
  }
  .navbar__links {
    flex-direction: row;
    position: initial;
    width: 100%;
    background: none;
    height: auto;
    transform: none;
    justify-content: end;
  }
  .navbar__links__link {
    margin-right: 1rem;
  }
  .navbar__burger {
    display: none;
  }
}
.footer {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer a {
  font-size: clamp(1rem, 4vw, 1.5rem);
  transition: all 0.3s;
}
.footer a:hover {
  color: rgb(127, 90, 240);
  cursor: none;
}

/* ---- Globals ---- */
.h2__bar {
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: 100%;
  margin-bottom: 2.5rem;
}
.h2__bar::after {
  content: "";
  display: block;
  height: 2px;
  width: calc(100% - 1.25rem);
  background-color: #242629;
  margin-left: 1.25rem;
}

.cursorr {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FFFFFE;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  transition: 0.3s cubic-bezier(0.65, 0.05, 0.36, 1) width, 0.3s cubic-bezier(0.65, 0.05, 0.36, 1) height;
}
.cursorr.cursor-hover {
  mix-blend-mode: soft-light;
  width: 60px;
  height: 60px;
  background-color: #FFFFFE;
}

.cursor-follower {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid rgb(127, 90, 240);
  position: absolute;
  pointer-events: none;
  transition: 0.1s top, 0.1s left, 0.3s cubic-bezier(0.65, 0.05, 0.36, 1) width, 0.3s cubic-bezier(0.65, 0.05, 0.36, 1) height;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.cursor-follower.cursor-hover {
  width: 60px;
  height: 60px;
  transition: none;
}

/* ---- Hero Section ---- */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hero__intro {
  width: 100%;
}
.hero__intro h1 {
  margin-bottom: 1rem;
}
.hero__intro h2 {
  color: #94A1B2;
  margin-bottom: 1.2rem;
}
.hero__intro h2 span {
  color: rgb(127, 90, 240);
}
.hero__scroll {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 2rem;
  color: rgb(127, 90, 240);
  font-size: 0.875rem;
  font-weight: normal;
}
.hero__scroll i {
  font-size: 2.5rem;
}

/* ---- A Propos Section ---- */
.intro {
  padding: 9.375rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: clamp(2.5rem, 2vw, 6rem);
}
.intro__description p {
  margin-bottom: 1.25rem;
}
.intro__description__skills {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
}
.intro__description__skills__skill {
  margin-right: 0.625rem;
}
.intro__description__skills__skill:last-child {
  margin-right: 0;
}
.intro__image {
  position: relative;
  display: flex;
  transition: all 0.3s ease-out;
  margin-right: 25px;
}
.intro__image:hover {
  cursor: none;
}
.intro__image:hover::before {
  background-color: transparent;
}
.intro__image:hover::after {
  top: 0;
  left: 0;
}
.intro__image::before {
  content: "";
  background-color: rgba(127, 90, 240, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0.5rem;
  transition: all 0.3s ease-out;
}
.intro__image::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  border: 3px solid rgb(127, 90, 240);
  border-radius: 0.5rem;
  left: 25px;
  top: 25px;
  transition: all 0.3s ease-out;
}
.intro__image img {
  width: 250px;
  height: 300px;
  border-radius: 0.5rem;
  object-fit: cover;
}

/* ---- Projets Section ---- */
.project__section {
  padding: 6.25rem 0;
}
.project__section .projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.project__section .projects__project {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.project__section .projects__project__content {
  grid-area: 1/1/-1/7;
  grid-column: 1/-1;
  padding: 1rem;
  z-index: 2;
}
.project__section .projects__project__content__project__type {
  color: rgb(127, 90, 240);
  margin-bottom: 5px;
}
.project__section .projects__project__content h3 {
  margin-bottom: 1.25rem;
}
.project__section .projects__project__content h3 a {
  font-size: clamp(1.25rem, 4vw, 2rem);
}
.project__section .projects__project__content h3:hover {
  text-decoration: underline;
  cursor: none;
}
.project__section .projects__project__content__skills {
  margin: 1.25rem 0;
  display: flex;
  align-items: center;
}
.project__section .projects__project__content__skills__skill {
  margin-right: 5px;
}
.project__section .projects__project__content__skills__skill:last-child {
  margin-right: 0;
}
.project__section .projects__project__content__links__link {
  font-size: 1.5rem;
  color: #94A1B2;
  transition: all 0.1s ease-in;
}
.project__section .projects__project__content__links__link:last-child {
  margin-left: 5px;
}
.project__section .projects__project__content__links__link:hover {
  cursor: none;
  color: rgb(44, 182, 125);
}
.project__section .projects__project__image {
  grid-area: 1/6/-1/-1;
  grid-column: 1/-1;
  border-radius: 0.5rem;
  height: 100%;
  position: relative;
  opacity: 0.3;
  transition: all 0.3s ease-out;
}
.project__section .projects__project__image a {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
.project__section .projects__project__image a::before {
  content: "";
  background-color: rgba(127, 90, 240, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0.5rem;
  transition: all 0.3s ease-out;
  z-index: 3;
}
.project__section .projects__project__image img {
  width: 100%;
  object-fit: cover;
  object-position: 100% 0;
  border-radius: 0.5rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* ---- Compétences Section ---- */
.skills-section {
  padding: 2.5rem 0;
}
.skills-section .skills-switch {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}
.skills-section .skills-switch .skills__categories {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.skills-section .skills-switch .skills__categories__bar--active {
  background-color: rgba(127, 90, 240, 0.15);
  border-bottom: 4px solid rgb(127, 90, 240);
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}
.skills-section .skills-switch .skills__categories::before {
  content: "";
  background-color: #242629;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.skills-section .skills-switch .skills__categories a {
  padding: 0.625rem 0.7rem;
  z-index: 2;
}
.skills-section .skills-switch .skills__categories a:hover {
  cursor: none;
  background-color: rgba(127, 90, 240, 0.15);
}
.skills-section .skills {
  position: relative;
  overflow: hidden;
}
.skills-section .skills__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.625rem;
  transition: all 0.5s ease-in-out;
  transform: translateX(-50%);
  position: absolute;
  left: -30%;
  width: 100%;
}
.skills-section .skills__cards__card {
  width: 125px;
  height: 100px;
  background-color: #242629;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
  align-items: center;
  justify-content: center;
}
.skills-section .skills__cards__card img {
  width: 30px;
}
.skills-section .active .skills__cards {
  position: relative;
  left: 50%;
}

/* ---- Contact Section ---- */
.contact {
  text-align: center;
  padding: 6.25rem 0;
}
.contact__h2 {
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: 100%;
  margin-bottom: 2rem;
}
.contact__h2::before {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #242629;
  margin-right: 1.25rem;
}
.contact__h2::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #242629;
  margin-left: 1.25rem;
}
.contact p {
  padding: 0 2rem;
  margin-bottom: 2rem;
}

/* ---- Media Queries ---- */
@media screen and (min-width: 767.98px) {
  /* ---- A Propos Section ---- */
  .intro {
    flex-direction: row;
  }
  .intro__description {
    width: 70%;
  }
  .intro__image {
    position: relative;
  }
  .intro__image::before {
    content: "";
    background-color: rgba(127, 90, 240, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  /* ---- Projets Section ---- */
  .project__section .projects {
    gap: 9rem;
    /* Project */
    /* Right Project */
    /* left Project */
  }
  .project__section .projects__project__content__skills__skill {
    margin-right: 0.8rem;
  }
  .project__section .projects__project__content__description {
    padding: 2rem 3rem;
    background-color: #242629;
    border-radius: 0.5rem;
  }
  .project__section .projects__project__image {
    opacity: 0.8;
  }
  .project__section .projects__project__image a:hover {
    cursor: none;
  }
  .project__section .projects__project__image a:hover::before {
    background-color: transparent;
  }
  .project__section .projects__project--right .projects__project__content {
    text-align: right;
    grid-column: 5/-1;
  }
  .project__section .projects__project--right .projects__project__content__skills {
    justify-content: flex-end;
  }
  .project__section .projects__project--right .projects__project__image {
    grid-column: 1/8;
  }
  .project__section .projects__project--left .projects__project__content {
    grid-column: 1/9;
  }
  .project__section .projects__project--left .projects__project__image {
    grid-column: 6/-1;
  }
  /* ---- Compétences Section ---- */
  .skills-section {
    padding: 8.125rem 0 6rem;
  }
  .skills-section .skills-switch .skills__categories a {
    padding: 0.625rem 1.2rem;
  }
}

/*# sourceMappingURL=home.css.map */
